<section id="connected">
    <div class="container">
        <div class="row">
            <h2 class="section-title wow fadeInUp" data-wow-delay=".2s">Stay Connected</h2>
            <h3 class="discription wow fadeIn" data-wow-delay=".2s">Your feedback is very useful and efficient for me. I will be happy to get your feedback.</h3>
            <hr>
            <div class="connected-wrapper text-center">
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="contact-item">
                        <div>
                            <a href="https://github.com/mahmood-ghaem" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                        <div>
                            <a href="https://github.com/mahmood-ghaem" target="_blank">
                                <h6>GitHub</h6>
                                <!--<h4>mahmood-ghaem</h4>-->
                            </a>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="contact-item">
                        <a href="#"><i class="fa fa-user"></i></a>
                        <h5>Support Team</h5>
                        <h4>support@name.com</h4>
                    </div>
                </div>-->
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="contact-item">
                        <div>
                            <a href="https://www.linkedin.com/in/mahmood-ghaemmaghami" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/mahmood-ghaemmaghami" target="_blank">
                                <h6>LinkedIn</h6>
                                <!--<h4>mahmood-ghaemmaghami</h4>-->
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="contact-item">
                        <div>
                            <a href="https://wecoders.nl" target="_blank">
                                <i class="fa fa-globe"></i>
                            </a>
                        </div>
                        <div>
                            <a href="https://wecoders.nl" target="_blank">
                                <h6>Web Site</h6>
                                <!--<h4>wecoders.nl</h4>-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>