<footer id="footer">
    <div class="container">
        <div class="copyright text-center">
            <span>
                Copyright 2021 <i class="far fa-copyright"></i>
                <a href="https://www.hackyourfuture.net" target="_blank">
                    HackYourFuture
                </a>
            </span>
            -
            <span>
                Made with <i class="fa fa-heart"></i> and
                <i class="fa fa-coffee"></i> by
                <a href="https://github.com/mahmood-ghaem" target="_blank">
                    Mahmood
                </a>
            </span>
        </div>
    </div>
</footer>