<section id="intro" class="intro-home">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="main-text">
                    <h1 class="wow fadeInUp"><span>Node.js</span> - JavaScript Blog</h1>
                    <h2 class="wow fadeInUp" data-wow-delay=".7s">
                        A simple blog written with Node.js based on the MVC software design pattern
                    </h2>
                    <div class="wow fadeInUp" data-wow-delay="1.5s"><a onclick="smoothScr.anim('services')" class="btn btn-border btn-lg"><i class="fa fa-spinner fa-spin"></i> Source Code</a></div>
                </div>
            </div>
        </div>
    </div>
</section>