<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startup HTML5/Bootstrap Template</title>

    <meta name="description" content="Design - is a Premium HTML5 Responsive Templeate by Graygrids Team.">

    <meta name="keywords" content="Startup HTML template, Bootstrap Agency theme, html template, charity template, premium html template, one page template">

    <meta name="author" content="GrayGrids">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- Bootstrap  -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- icon fonts font Awesome -->
    <link rel="stylesheet" media="screen" href="/fonts/font-awesome/font-awesome.min.css">

    <!-- Custom Styles -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Responsive Styles -->
    <link href="/css/responsive.css" rel="stylesheet">

    <!-- Normalize Styles -->
    <link href="/css/normalize.css" rel="stylesheet">

    <!-- Extras -->
    <link rel="stylesheet" type="text/css" href="/extras/animate.css">
    <link rel="stylesheet" type="text/css" href="/extras/lightbox.css">
    <link rel="stylesheet" type="text/css" href="/extras/owl/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/extras/owl/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="/extras/owl/owl.transitions.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Start Header Section -->
    {{> header}}
    <!-- End Header Section -->
    
    {{{body}}}
    
    <!-- Footer Section Start -->
    {{> footer}}
    <!-- Footer Section End -->
    <!-- Scroll Top -->
    <div class="scroll-top" data-spy="affix" data-offset-top="300">
        <a href="#header"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- Scroll End -->
    <!-- Include jquery.min.js plugin -->
    <script src="/js/jquery-min.js"></script>
    <!-- Include Bootstrap plugin -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- One page Nav plugin -->
    <script src="/js/jquery.nav.js"></script>
    <!-- Include Bootstrap plugin -->
    <script src="/js/owl.carousel.js"></script>
    <!-- Include wow plugin -->
    <script src="/js/wow.js"></script>
    <!-- Include mixitup plugin -->
    <script src="/js/jquery.mixitup.js"></script>
    <!-- ScrollTop -->
    <script src="/js/lightbox.min.js"></script>
    <!-- Lightbox -->
    <script src="/js/scroll-top.js"></script>
    <!-- Smooth Scroll -->
    <!--<script src="/js/smooth-scroll.js"></script>-->
    <!-- preset js -->
    <script src="/js/style.changer.js"></script>
    <!-- Modernizr js -->
    <script src="/js/modernizr-2.8.0.main.js"></script>
    <!-- Main js -->
    <script src="/js/main.js"></script>

</body>
</html>